<script type="text/javascript">


</script>

<h1><%=@spot.name%></h1>

<p>Type of fish: <%=@spot.fish%></p>

<div class="weather">
  <label>Weather</label>
  <div class="date"></div>
  <div class='description'></div>
  <div class='main'></div>
  <label>Current Temp:</label>
  <div class='current-temp'>current-temp</div>
  <label>Max Temp:</label>
  <div class='max-temp'>max-temp</div>
  <label for="">Min Temp:</label>
  <div class='min-temp'>min-temp</div>
</div>

<input class="lat-input" type="hidden" value="<%=@latitude%>">
<input class="lng-input" type="hidden" value="<%=@longitude%>">


<% my_url = "http://maps.google.com/maps/api/staticmap?size=1000x850&sensor=false&zoom=6" %>
<% my_url += "&markers=#{@spot['latitude']}%2C#{@spot['longitude']}" %>
<% my_url += '&key=AIzaSyBn7aVoJ5DG6o1oYaDdc8XAsApqlAtHaTg' %>
<%= image_tag my_url %>

<% id = @spot.id %>
<%= form_tag '/', method: :get do %>
  <button> Main Page </button>
<% end %>

<div class="container-graph">
  <h2>Tide Times</h2>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>
$(document).ready(function(){
    console.log('javascript loading .... test');
    var lat = document.querySelector(".lat-input").value;
    var lng = document.querySelector(".lng-input").value;


    console.log(lat);
    console.log(lng);

    $.ajax({
      url: 'http://api.openweathermap.org/data/2.5/weather?lat='+ lat + '&lon=' + lng + '&APPID=e6b9f373890262fb5f87cd9362069823',
      method: 'get'
      }).done(function(data){
        var currentdate = new Date();
        console.log(data);
        document.querySelector(".date").innerHTML = currentdate;
        document.querySelector(".description").innerHTML = data.weather[0].description;
        document.querySelector(".main").innerHTML = data.weather[0].main;
        document.querySelector(".current-temp").innerHTML = (data.main.temp - 273.15).toFixed(2);
        document.querySelector(".max-temp").innerHTML = (data.main.temp_max - 273.15).toFixed(2);
        document.querySelector(".min-temp").innerHTML = (data.main.temp_min - 273.15).toFixed(2);

      });
});
</script>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['9am', '3pm','9pm'],
    datasets: [{
      label: 'Tide ',
      data: [1.5,0.2,1.5],
      backgroundColor: "rgba(153,255,51,0.4)"
    }
    // , {
    //   label: 'oranges',
    //   data: [2, 29, 5, 5, 2, 3, 10],
    //   backgroundColor: "rgba(255,153,0,0.4)"
    // }
  ]
  }
});
</script>
